<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/stylesheets/goals.css">
  <link rel="stylesheet" href="/assets/stylesheets/signin.css">
  <link rel="stylesheet" href="/assets/stylesheets/signup.css">
  <link rel="stylesheet" href="/assets/stylesheets/statistics.css">
  <link rel="stylesheet" href="/assets/stylesheets/sum.css">

  <title>Title</title>
</head>
<body>