* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #1B2326;
}

main{
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: center;
}

.logo img {
	width: 200px;
	height: 200px;
	position: absolute;
	margin-left: 29rem;
	margin-top: -4.5rem;
}

.logo_hide img {
	display: none;
}

.back_img, .aside {
	flex: 1;
	width: 50%;
}
.back_img {
	position: relative;
	margin-right: 2rem;
}

.back_img img {
	height: 99vh;
	object-fit: cover;
	filter:brightness(80%);
}
.arc_img {
	max-width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 40%;
	left: 15%;
}
 
.overlay h2 {
	font-size: 2.7rem;
	color: #fff;
}

.overlay p {
	color: #fff;
	margin-left: 20%;
}

.aside {
max-width: 800px;
	margin: 5rem auto;


}

.login_form {
	max-width: 400px;
}


.social {
	max-width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}

.google {
	border: 1px solid orange;
	border-radius: 4px;
	background: #fff;
	padding: 1rem;
	flex: 1;
	margin-right: .6rem;
	font-weight: bold;
	font-size: .8rem;
	cursor: pointer;
}

.google .fa {
 	color: orange;
 	font-size: 1.2rem;
 	margin-right: 1px;
}

.facebook {
	border:1px solid steelblue;
	border-radius: 4px;
	background: #fff;
	flex: 1;
	padding: 1rem;
	font-weight: bold;
	font-size: .8rem;
	cursor: pointer;
}

.facebook .fa {
	color: steelblue;
	font-size: 1.2rem;
	margin-right: 1px;
}

.welcome_text {
	font-weight: bold;
	font-size: 35px;
	line-height: 135%;
	margin-left: 11%;
}

.little {
	display: block;
	margin-top: 10px;
	font-weight: 500px;
	opacity: 0.5;
	margin-left: 14%;
}

fieldset {
	border: none;
}

.login_text {
	font-weight: bold;
	font-size: 28px;
	margin-top: 3rem;
	display: block;
}

.little_second {
	margin: 1px 0 10px 0;
	font-size: 14px;
}

input[type=text], input[type=password] {
	background: #FFFFFF;
	border:1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 6px 6px 0px 0px;
	padding: 15px;
	width: 380px;
	margin-bottom: 0.2rem;
}
input[type=text]:focus, input[type=password]:focus {
	border-left: 2px solid #628239;
}

input[type=text]:hover, input[type=password]:hover {
	border-left: 3px solid #628239;
}

input[type=password] {
	background-image: url("https://res.cloudinary.com/drpk8jfdq/image/upload/v1569599981/padlock_yn1mwq.png");
	background-repeat: no-repeat;
	background-position: right;
}

input[type=text] {
	background-image: url("https://res.cloudinary.com/drpk8jfdq/image/upload/v1569599981/mail_xgure9.png");
	background-repeat: no-repeat;
	background-position: right;
}

.forgot {
	font-weight: bold;
	margin: 10px 0px 10px 0px;
}

.forgot a {
	text-decoration: none;
	color: #EB5757;

}

span.check {
	color: #4F4F4F;
	padding-left: 5px;
	margin-right: 28%;
	font-size: 14px;
	font-weight: normal;
}

input[type=submit] {
	background: #628239;
	padding:.75rem 1.5rem;
	width: 100%;
	cursor: pointer;
	font-weight: bold;
	color: white;
	font-size: 16px;
	line-height: 16px;
}

@media(max-width: 1100px) {
	main{
		flex-direction: column;
	}
	.back_img,.aside, .logo_hide img {
		flex: 1;
		width: 100%;
   }

   .logo img {
	display: none;
	/*visibility: hidden;*/
}

.back_img {
	margin-right: 0;
}

.logo_hide img {
	display: block;
	width: 100px;
	height: 40px;
	margin-left: auto;
}

   .back_img img {
   	  height: 200px;
   	  width: 100%;
   }

   .overlay {
   	  top: 20%;
   }

   .aside {
   	   margin: auto;
   	   text-align: center;
   }

   .login_form {
   	  margin: auto;
   }

   .social {
   	margin: auto;
   	margin-top: 1rem;
   }
}


