<% include ../partials/head %>

<main>
  <div class="bg_img">
    <img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569599374/image_clkt0o.png"  alt="SignUp Image" class="img-responsive">
    <div class="overlay-text">
     <h2>You are Limitless!</h2>
     <p>Register with us to do the impossible</p>
      </div>
  </div>
  <div class="logo_img"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe_brgiib.jpg"></div>
  <div class="logo_img_hide"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe2_oja2qb.png"></div>
  <div class="signup_area">
    <h1 class="welcome-head-text">Welcome to Hebe</h1>
    <p class="welcome-sub-text">...Best Goal Tracker Tool</p>

    <h2 class="register-head-text">Register</h2>
    <p class="register-sub-text">Sign up with your details to get started!</p>

    <form class="signup-form">
      <label for="first-name">
        <input type="text" name="first-name" id="first-name" placeholder="First Name">
      </label>

      <label for="last-name">
        <input type="text" name="last-name" id="last-name" placeholder="Last Name">
      </label>

      <label for="email">
        <input type="email" name="email" id="email" placeholder="Email">
      </label>

      <label for="password">
        <input type="password" name="password" id="password" placeholder="Password">
      </label>

      <label for="confirm-password">
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
      </label>
      <p class="login-link"><a href="/login">Existing member</a></p>
      <button type="submit" class="register-btn" onclick="similar()">Register</button>
    </form>

    <div class="social-auth">
    <button class="google-auth"><i class="fa fa-google-plus-official" aria-hidden="true"></i> Login with Google</button>
    <button class="facebook-auth"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</button>
    </div>
  </div>
   </main>


<% include ../partials/footer %>


