<% include ../partials/head%>

<main>
		<img src="imagebackground.png" alt="boy using his laptop" id="image">
		<div class="floating_text">
				<h2>You are Limitless!</h2>
				<p>Hebe...solution for the achievers</p>
		</div>
		<div class="hebelogo"><img src="hebe.jpg"></div>
		<div class="hebelogo_hide"><img src="hebe2.png"></div>
		<div id="text">
			<img src="logocheck.png" alt="#" id="vector">
<h1>Account Created <br>
Successfully</h1>
<p>It's time to explore!</p>
<button id="submit_button">Back to Login</button>
</div>
</main>

<% include ../partials/footer%>