<% include ../partials/head%>

<main>
		<img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569599374/image_clkt0o.png" alt="boy using his laptop" id="image">
		<div class="floating_text">
				<h2>You are Limitless!</h2>
				<p>Hebe...solution for the achievers</p>
		</div>
		<div class="hebelogo"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe_brgiib.jpg"></div>
		<div class="hebelogo_hide"><img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569601090/hebe2_oja2qb.png"></div>
		<div id="text">
			<img src="https://res.cloudinary.com/drpk8jfdq/image/upload/v1569600300/logo_nulfnw.png" alt="#" id="vector">
<h1>Account Created <br>
Successfully</h1>
<p>It's time to explore!</p>
<button id="submit_button">Back to Login</button>
</div>
</main>

<% include ../partials/footer%>